
body{
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	font-weight: normal;
	color: #212121;

}
.site{
	max-width: 1600px;
	align-items: center;
	margin: 0 auto;
}
.bg-white{
	background-color: #ffffff;
}
.bg{
	position: relative;
	z-index: 0;
	height: 720px;
}
.tx{
	position: relative;
	z-index: 1;
	margin-top: -580px;
	overflow: hidden;
	height: 580px;
}

header{
	color: #ffffff;
}
.bg-dark{
	background-color: #222222 !important;
}
.h1{
	font-size: 44px;
	letter-spacing: -3px;
	font-weight: 800;
}
.btn-warning{
	background-color: #B9913C !important;
}
.navbar-fixed{
	border-bottom: 5px solid #B9913C !important;
	background: #000000;
}
.navbar{

	height: 120px;
}
.navbar .btn{
	border: none !important;
	color: #ffffff !important;
	border-radius: 20px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;

}
.navbar a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar-expand-lg .navbar-nav .active>.nav-link, .navbar-expand-lg .navbar-nav .nav-link.active, .navbar-expand-lg .navbar-nav .nav-link.show, .navbar-expand-lg .navbar-nav .show>.nav-link {
    color: #B8913B;
    border-bottom: 1px solid #B8913B;
}
.video{
	margin: 90px auto;
}
.left40{

	-ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
	display: inline-block;
}
.right60{
	/*background: rgba(43,43,43,1);
	background: -moz-linear-gradient(-45deg, rgba(43,43,43,1) 0%, rgba(23,23,23,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(43,43,43,1)), color-stop(100%, rgba(23,23,23,1)));
	background: -webkit-linear-gradient(-45deg, rgba(43,43,43,1) 0%, rgba(23,23,23,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(43,43,43,1) 0%, rgba(23,23,23,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(43,43,43,1) 0%, rgba(23,23,23,1) 100%);
	background: linear-gradient(135deg, rgba(43,43,43,1) 0%, rgba(23,23,23,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#171717', GradientType=1 );


	-ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    */
    max-width: 62.5%;
	height: 500px;
	display: inline-block;
	color: #fff;
}
.right60 .h1{
	color: #B9913C;
}
.carousel, .carousel-item{
	height: 500px;
}

.vantagens, .parceiros{
	margin-bottom: 70px;
}
.slideshow{
	text-align: center;
}
#prev {
    left: 0;
}
#next, #prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
#next {
    right: 0;
}
h2.title{
	font-size: 50px;
	font-weight: 120%;
	letter-spacing: -4px;
	font-weight: 300;
}
.footer{
	background: url("../img/bg-footer.png") no-repeat right;
	padding-bottom: 130px;

}
input, textarea, .select2-container--bootstrap .select2-selection, select{
	border:1px solid #ccc !important;
	border-radius: 25px !important;
	font-size: 16px !important;
	height: calc(2.875rem + 2px);
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
	padding: .40rem 1rem !important;
}
.form-check-input{
	height: 18px !important;
}
textarea{
	height: 100px !important;
}
.form-control-lg, .select2-container--bootstrap .select2-selection, .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder{
	font-size: 16px !important;
	color: #535353 !important;
}
.pt-8{
	padding-top: 80px;
}
.text-warning{
	color: #B8913B !important;
}

button{
	border: none;
	background: none;
}
.page{
	padding-top: 180px;
	background: url("../img/bg-interna.png") no-repeat center top;
}


section {
  display: flex;
  flex-flow: row wrap;
}

section > div {
  flex: 1;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type="radio"]:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
}

.radioStyle label {
  display: block;
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  position: relative;
}

input[type="radio"]:checked + label {
  background: #20df80;
  color: white;
}
input[type="radio"]:checked + label::after {
  color: #3d3f43;
  font-family: FontAwesome;
  border: 2px solid #1dc973;
  content: "\f00c";
  font-size: 16px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

.radioStyle h2{
	font-size: 30px !important;
	letter-spacing: -2px;
	font-weight: 500;
}

.case{
	padding: 50px 0px;
}
.case h3{
	font-weight: 600!important;
	letter-spacing: -1px;
	margin-bottom: 0;
}
.case h5{
	font-size: 16px;
	font-weight: 300;
}
.mb-8{
	margin-bottom: 80px;
}
.mb-5{
	margin-bottom: 50px;
}
.b-black{
	background: #222222 !important;
	color: #fff !important;
}
.b-orange{
	background: #B9913C !important;
	color: #fff !important;
}
.carousel, .carousel-item{
	height: 350px !important;
}
.orange{
	color: #B8913B;
}
.black4{
	color: #444;
}
.has-error{
	color: red;
}
.mt-8{
	margin-top: 80px;
}
.vantagens{
	background: url('../img/vantagens.png') no-repeat;
	background-size:100%;

}
.h3{
    font-size: 25px;
    font-weight: 700;
    color: #222;
}

.vantagens .carousel-caption h2{
	color: #B9913C;
    margin-bottom: 30px;
    padding-right: 15%;
}
.vantagens .carousel-caption{
	position: relative;
	text-align: left;

}
.vantagens .carousel-caption p{
	line-height: 200%;
    margin-bottom: 30px;
    padding-right: 15%;
}
.btn-saiba{
	background: #B9913C;
	color: #FFFFFF;
	border-radius: 20px;
	font-size: 16px !important;
	padding-left: 20px;
	padding-right: 20px;
}
.carousel-control-next, .carousel-control-prev{
	padding: 30px;
}
p.texto{
    font-size: 16px;
    line-height: 200%;
}
@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}

.toggle {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.toggle input + label {
  margin: 0;
  padding: .75rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #FFF;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
  /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
  /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
  /* ----- */
}
.toggle input + label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.toggle input + label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}
.toggle input:hover + label {
  border-color: #213140;
}
.toggle input:checked + label {
  background-color: #4B9DEA;
  color: #FFF;
  box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
  border-color: #4B9DEA;
  z-index: 1;
}
.toggle input:focus + label {
  outline: dotted 1px #CCC;
  outline-offset: .45rem;
}
@media (max-width: 800px) {
  .toggle input + label {
    padding: .75rem .25rem;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* STYLING FOR THE STATUS HELPER TEXT FOR THE DEMO */
.status {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
.status span {
  font-weight: 600;
  color: #B6985A;
}
.status span:first-of-type {
  display: inline;
}
.status span:last-of-type {
  display: none;
}
@media (max-width: 800px) {
  .status span:first-of-type {
    display: none;
  }
  .status span:last-of-type {
    display: inline;
  }
}

