.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 54px 54px;
}
.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    margin: 30px;
}
.dropzone, .dropzone * {
    box-sizing: border-box;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #333;
    background: #fff;

}
.navbar{
    padding: 0 !important; 
}
.navbar-nav .nav-link {
    display: block;
    padding: 1rem 1rem;
}
.help-block{
    color: red;
}